{% extends "base.html" %}

{% block content %}

{# show the event details; this will depend on your event model schema #}
{% with object.replylist.content_object as event %}
  <h2>{{ event.title }}</h2>
  <p>{{ event.description }}</p>
{% endwith %}

<p> Would you like to attend?</p>
<ul>
  <li>
    <a href="{% url please_reply_replied slug=slug reply_list_id=reply_list_id user_hash=user_hash response="accept" %}">
      accept
    </a>
  </li>
  <li>
    <a href="{% url please_reply_replied slug=slug reply_list_id=reply_list_id user_hash=user_hash response="decline" %}">
      decline
    </a>
  </li>
</ul>
  
{% endblock content %}
